/* #db5545  icon red*/
/* #047cb4 icon blue*/



@font-face{
  font-family: 'Eina';
  src: url('../src/fonts/eina-01-semibold.otf');
}

body{
  margin:0;
  background-color: #f3b7ba;
  font-family: Eina;
}

.banner{
  margin:auto;
  /*background-color:black;*/
}


@media all and (min-width: 1024px) {

  #year{
    font-size: 20px;
    position: absolute;
    background:black;
    color:white;
    
    /* align-content: left;
    text-align: left; */
  }

  .yearAndImages{
    margin:0 auto;
    width:100%;
    position:relative;
    height:100%;
  }
  

  #logo{
    z-index:5;
    height:300px;
    width:300px;
    display:block;
    position: absolute;
    left:0%;
  }
  
  .image{
    position: absolute;
    display:inline;
    color:white;
  }

  /* .year{
    position: relative;
    display:inline-block;
    margin-left: 2%;
    
  } */

  #about{
    width:1% !important;
    height:300px !important;
    font-size: 3.0em !important;
    
  }

  .title{
    font-size: 1.5em;
    width:auto;
    margin:auto;
    display:inline-block;
    color:#2a2f47;
  }

  .title:hover{
  }

  .title:active{

  }

  .videoInfoContainer{
  }

  #credits{
    /* width:85% */
    margin-bottom:5%;
  }

  #projectNameVideo{
    font-size: 60px;
    position: relative;
    margin:0 auto;
    text-align: center;
    padding-top: 5%;
    padding-bottom:.8%;
    letter-spacing: .3rem;
    color:#2a2f47;
    z-index:-5;
  }

  #projectVideoTitle{
  }

  .biggerProjectText{
    font-size: 30px;
    position: relative;
    margin:0 auto;
    color:#2a2f47;
    width:30%;
    text-align: center;
    padding-top: 0%;
    margin-top:1%;
    margin-bottom:2%;
    letter-spacing: .2rem;
    /* background:#047cb4; */
    border-bottom:3px solid#2a2f47;

  }


  #projectVideo{
    /* width:60rem; */
    height:30rem;
    /* background:black; */
    position:relative;
    /* margin-left:25%;
    margin-right:25%;
    margin-top:10%; */
    margin:0 auto;
    width:50%;
  }

  #projectImageLeft{
    position: relative;
    width: 640px;
    height: 360px;
    width:47%;
    background-color:black;
  }

  .fourImages{
    margin-bottom: 2%;
  }

  .videoImages{
    margin:0 auto;
    position: relative;
    align-content: center;
    width:85%;
    padding-top:4%;
    /* padding-bottom:2%; */
    /* border-bottom:3px solid#2a2f47; */
  }

  #creditTitle{
    font-size: 32px;
    /* width:80%; */
    font-weight:900 !important;
    /* padding-bottom:2%; */
  }

  .projectPageText{
    /* padding-top:2%; */
    margin:0 auto;
    font-size:20px;
    position:relative;
    width:85%;
    text-align: left;
    letter-spacing: .05rem;
  }


  #projectImageRight{
    position: relative;
    width: 640px;
    height: 360px;
    width:47%;
    margin-left:6%;
    background-color:black;
  }

  #attic{
    width:1%;
    height:300px !important;
    font-size: 3.0em !important;
    margin-top:2.2rem;
    color:#2a2f47;
  }

  #about{
    height:400px !important;
    font-size: 3.0em !important;
    margin-left:5rem;
    color:#2a2f47;
    display:none;
  }

  .aboutUsWords{
    position:relative;
    width:40%;
    padding-left:29%;
    padding-right:27%;
    font-size:20px;
    line-height: 105%;
    letter-spacing:1.5%;
  }

  .aboutContainer{
    position:relative;
    
  }

  #aboutUs{
    margin-top:0% !important;
    font-size:55px;
    z-index:5;
  }

  #aboutUsImage{
    z-index:-5;
    align-content: center;
    width:40%;
    height:10%;
    margin-left:30%;
    margin-right:30%;
    position:relative;
    margin-top:1%;
    padding-bottom:2%;
    border-bottom:3px solid#2a2f47;

  }

  .banner{
    
  }
  
  li{
    font-size:26px;
    width:auto;
  }

  ul{
    width:0 auto;
    /* display:inline-block; */
    text-align: center;
    margin-right:5rem;
    margin-left:5rem;

    /* position:absolute; */
    /* left:27%; */
  }

  #image{
    /* left: 22%;     */
  }

  #titleNameProjectList{
    position: relative;

  }

 }
 
/*@media all and (min-width: 768px) and (max-width: 1024px) { }
 
@media all and (min-width: 480px) and (max-width: 768px) { } */
 
@media all and (min-width: 800px) {


  #logo{

  }


  .projects{

  }

  .title{
    
  }

  ul{
    margin-bottom:10%;
    /* text-align: center; */
  }

  li{
    list-style-type: none;
    margin-bottom:.3%;
    margin-top:.3%;
    
  }

  li:hover{
    font-size:25px;
  }

  a{
    font-size: 2em;
    letter-spacing: .07em;
    font-weight: 100;
    margin:0;
    padding-top:0px;
    text-decoration: none;
    height:50px;
    width:50px;
    
  }

  #about{
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    height:105px;
    width:10%;
    writing-mode: vertical-rl;
  }

  #attic{
    position: absolute;
    top:0;
    right:0;
    height:105px;
    writing-mode: vertical-rl;
    font-size: 1.3em;
    letter-spacing:2px;
  }

  .title:active{
    background-color:black;
    position: relative;
    color:white;
  }

  #aboutContainer{
    margin-left:24.9px;
    margin-right:24.9px;
  }

  .aboutUsWords{
    margin-left:20px;
    margin-right:20px;
  }

  #aboutUs{
    /* text-align: center;
    margin:0;
    margin-bottom:10px; */
  }

  .year{
    /* display:none; */
  }

  .image{
    /* display: none; */
  }

  .banner{
    padding-right: 20%;
    padding-left:20%;
  }

  img{
    /* height:200px;
    width:200px; */
  }

  .aboutContainer{
    
  }


}