/* #db5545  icon red*/
/* #047cb4 icon blue*/



@font-face{
  font-family: 'Eina';
  src: url('../src/fonts/eina-01-semibold.otf');
}

body{
  margin:0;
  background-color: #f3b7ba;
  
  font-family: Eina;
}

.banner{
  margin:auto;
  /*background-color:black;*/
}

@media all and (min-width: 5000px){

  #projectImageLeft{
    width:800px !important;
    height:448px !important;
    margin-left:2% !important;
  }

  #projectImageRight{
    width:800px !important;
    height:448px !important;
    margin-left:11.5% !important;
  }

  .fourImages{

  }

  .title{
    font-size:7rem !important;
  }

  #homeImageMobile{
    display:none;
  }

  #homeTextMobile{
    display:none;
  }

  #projectVideoTitle{
    font-size:5rem;
    margin-top:.5% !important;
  }

  .videoImages{
    width:37% !important;
    padding-top:0% !important;
  }
  #logo{
    z-index:5;
    /* add back when we're done with coming soon page */
    /* height:600px !important;
    width:600px !important; */
    display:block;
    position: absolute;
    left:0%;
  }

  #creditTitle{
    padding:0%;
    font-size:5rem !important;
    margin-top:.5% !important;
    width:50%;

  }

  #credits{
    font-size:2rem;
    width:50%;
  }

  #projectVideo{
    height:64rem !important;
  }

  #projectNameVideo{
    font-size:5.5rem !important;
  }

  .comingSoonLogo{
    top:25% !important;
    width:2800px !important;
    height:1400px !important;
    left:-17% !important;
  }

  #textAndIcons{
    /* width:2000px !important;
    z-index: -2 !important;
    background:blue;
    height:2000px !important; */
  }

  #comingSoonText{
    font-size:250px !important;
    width:auto !important;
    top:23% !important;
  }

  #socialIcons{
    position:relative !important;
    padding-top:10%;
  }

  #twitIcon{
    width:200px !important;
    height:200px !important;
  }

  #instaIcon{
    width:200px !important;
    height:200px !important;
    padding-left:5% !important; 
  }

  #mailText{
    font-size:150px ;
    color:#2a2f47;
    margin-top:10% !important;
  }

  #mailIcon{
    padding-left:5% !important; 

  }

}

@media all and (min-width: 4000px){

  #projectImageLeft{
    width:800px !important;
    height:448px !important;
    margin-left:2% !important;
  }

  #projectImageRight{
    width:800px !important;
    height:448px !important;
    margin-left:11.5% !important;
  }

  .fourImages{

  }

  .title{
    font-size:7rem !important;
  }

  #homeImageMobile{
    display:none;
  }

  #homeTextMobile{
    display:none;
  }

  #projectVideoTitle{
    font-size:5rem;
    margin-top:.5% !important;
  }

  .videoImages{
    width:37% !important;
    padding-top:0% !important;
  }
  #logo{
    z-index:5;
    /* add back when we're done with coming soon page */
    /* height:600px !important;
    width:600px !important; */
    display:block;
    position: absolute;
    left:0%;
  }

  #creditTitle{
    padding:0%;
    font-size:5rem !important;
    margin-top:.5% !important;
    width:50%;

  }

  #credits{
    font-size:2rem;
    width:50%;
  }

  #projectVideo{
    height:64rem !important;
  }

  #projectNameVideo{
    font-size:5.5rem !important;
  }

  .comingSoonLogo{
    top:25% !important;
    width:2200px !important;
    height:1200px !important;
    left:-17% !important;
  }

  #textAndIcons{
    /* width:2000px !important;
    z-index: -2 !important;
    background:blue;
    height:2000px !important; */
  }

  #comingSoonText{
    font-size:200px !important;
    width:auto !important;
    top:23% !important;
  }

  #socialIcons{
    position:relative !important;
    padding-top:10%;
  }

  #twitIcon{
    width:150px !important;
    height:150px !important;
  }

  #instaIcon{
    width:150px !important;
    height:150px !important;
    padding-left:5% !important; 
  }

  #mailText{
    font-size:100px ;
    color:#2a2f47;
    margin-top:10% !important;
    
  }

  #mailIcon{
    width:150px !important;
    height:140px !important;
    /* add padding left */
  }

}


@media all and (min-width: 1024px) and (min-width: 1600px){

  #comingSoonPage{
    width:50%;
    margin:20%;
    height:50%;
    align-content: center;
  }

  #comingSoonText{
    position: absolute;
    margin-left:30%;
    letter-spacing: .1rem;
    font-size:3rem;
    width:340px;
    top:235px;
    color:#2a2f47;
  }
  


  .comingSoonLogo{
    margin-left:26.5%;
    top:250px;
    z-index:-1 !important;
  }



  #projectDescription{
    text-align:center !important;

  }
  
  #mailIcon{
    width:29px;
    height:28px;
    padding-left:15px;
  }


  #socialIcons{
    width:50%;
    top:20%;
    margin-top:1%;
    margin-left:60%;
  }

  #textAndIcons{
    width:20%;
    height:20%;
    z-index:19;

  }

  #instaIcon{
    width:29px;
    height:29px;
    padding-left:15px;
    padding-top:7.4%;
  }

  #twitIcon{
    width:29px;
    height:29px;
    z-index:20;
  }

  #mailText{
    color:#2a2f47;
  }

  #homeImageMobile{
    display:none;
  }

  #homeTextMobile{
    display:none;
  }

  #year{
    font-size: 25px;
    position: absolute;
    left:0%;
    background:#2a2f47;
    color:white;
    
    /* align-content: left;
    text-align: left; */
  }

  #yearImage{
    position:absolute;
    left:0%;
    bottom:1%;
    /* width:16rem; */
    /* z-index: -2; */
  }

  #backText{
    font-size: 5%;
    position: relative;
    
  }


  .yearAndImages{
    /* width:100%; */
    /* height:100%; */
    margin-left:0%;
    position:absolute;
    /* z-index:-20 !important; */
  }
  

  #logo{
    z-index:5;
    height:300px;
    display:block;
    position: absolute;
    left:0%;
  }
  
  .image{
    position: absolute;
    display:inline;
    color:white;
  }

  .testing{
    display:block;
  }

  /* .year{
    position: relative;
    display:inline-block;
    margin-left: 2%;
    
  } */

  #about{
    width:1% !important;
    height:300px !important;
    font-size: 3.0em !important;
    
  }
  #testst{
    z-index:9999;
  }

  #landingImage{
    z-index:-20;
  }

  .title{
    font-size: 1.5em;
    width:auto;
    margin:auto;
    display:inline-block;
    color:#2a2f47;
    z-index:2;
  }

  .title:hover{
    background-color:#2a2f47;
    color:white;
    opacity:.8;
  }

  .title:active{

  }

  .videoInfoContainer{
  }

  #credits{
    /* width:85% */
    margin-bottom:5%;
    color:#2a2f47;
  }

  #projectNameVideo{
    font-size: 60px;
    position: relative;
    margin:0 auto;
    text-align: center;
    padding-top: 5%;
    padding-bottom:.8%;
    letter-spacing: .3rem;
    color:#2a2f47;
    z-index:-5;
  }

  #projectVideoTitle{
    padding-top:0px;
    color:#2a2f47;
  }

  .biggerProjectText{
    font-size: 30px;
    position: relative;
    margin:0 auto;
    color:#2a2f47;
    width:30%;
    text-align: center;
    padding-top: 5%;
    margin-top:1%;
    /* margin-bottom:2%; */
    letter-spacing: .2rem;
    /* background:#047cb4; */
    /* border-bottom:3px solid#2a2f47; */
  }

  #projectVideo{
    /* width:60rem; */
    height:30rem;
    /* background:black; */
    position:relative;
    /* margin-left:25%;
    margin-right:25%;
    margin-top:10%; */
    margin:0 auto;
    width:50%;
  }

  #projectImageLeft{
    position: relative;
    width: 640px;
    height: 360px;
    width:47%;
  }

  .fourImages{
    margin-bottom: 2%;
  }

  .videoImages{
    margin:0 auto;
    position: relative;
    align-content: center;
    width:85%;
    padding-top:4%;
    /* padding-bottom:2%; */
    /* border-bottom:3px solid#2a2f47; */
  }

  #creditTitle{
    font-size: 32px;
    /* width:80%; */
    font-weight:900 !important;
    color:#2a2f47;
    /* padding-bottom:2%; */
  }

  .projectPageText{
    /* padding-top:2%; */
    margin:0 auto;
    font-size:20px;
    position:relative;
    width:85%;
    text-align: left;
    color:#2a2f47;
    margin-top:1%;
    letter-spacing: .05rem;
  }


  #projectImageRight{
    position: relative;
    width: 640px;
    height: 360px;
    width:47%;
    margin-left:6%;
  }

  #attic{
    width:1%;
    height:300px !important;
    font-size: 3.0em !important;
    margin-top:2.2rem;
    color:#2a2f47;
  }

  #about{
    height:400px !important;
    font-size: 3.0em !important;
    margin-left:5rem;
    color:#2a2f47;
    display:none;
  }

  .aboutUsWords{
    position:relative;
    width:40%;
    padding-left:29%;
    padding-right:27%;
    font-size:20px;
    line-height: 105%;
    letter-spacing:1.5%;
  }

  .aboutContainer{
    position:relative;
    
  }

  #aboutUs{
    margin-top:0% !important;
    font-size:55px;
    z-index:5;
  }

  #aboutUsImage{
    z-index:-5;
    align-content: center;
    width:40%;
    height:10%;
    margin-left:30%;
    margin-right:30%;
    position:relative;
    margin-top:1%;
    /* padding-bottom:2%; */
    /* border-bottom:3px solid#2a2f47; */

  }

  .banner{
    
  }
  
  li{
    z-index:10;

  }

  #coming_soon{
    z-index:-90;
  }

  ul{
    width:0 auto;
    /* display:inline-block; */
    text-align: center;
    margin-right:5rem;
    margin-left:5rem;

    /* position:absolute; */
    /* left:27%; */
  }

  #image{
    /* left: 22%;     */
  }

  #titleNameProjectList{
    position: relative;

  }

  ul{
    margin-bottom:10%;
    /* text-align: center; */
  }

  li{
    z-index: 3;
    list-style-type: none;
    margin-bottom:.3%;
    margin-top:.3%;
    font-size:26px;
    width:auto;
  }

  li:hover{
    opacity:.8;
    
    z-index:-20;
    font-size:27px;
  }

  a{
    font-size: 2em;
    letter-spacing: .07em;
    font-weight: 100;
    margin:0;
    padding-top:0px;
    text-decoration: none;
    height:50px;
    width:50px;
    
  }

  #about{
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    height:105px;
    width:10%;
    writing-mode: vertical-rl;
    display:none;
  }

  #attic{
    position: absolute;
    top:0;
    right:0;
    height:105px;
    writing-mode: vertical-rl;
    font-size: 1.3em;
    letter-spacing:2px;
  }

  .title:active{
    background-color:#2a2f47;
    position: relative;
    color:white;
  }

  #aboutContainer{
    margin-left:24.9px;
    margin-right:24.9px;
  }

  .aboutUsWords{
    margin-left:20px;
    margin-right:20px;
  }

  #aboutUs{
    /* text-align: center;
    margin:0;
    margin-bottom:10px; */
  }

  .year{
    /* display:none; */
  }

  .image{
    /* display: none; */
  }

  .banner{
    padding-right: 20%;
    padding-left:20%;
  }



 }
 
@media all and (min-width: 768px) and (max-width: 1024px) { 
  #logo{
    width:30%;
    margin:0 auto;
  }
  #attic{

  }

  #attic{
    position: absolute;
    top:0;
    right:0;
    height:125px;
    writing-mode: vertical-rl;
    font-size: 1.3em;
    letter-spacing:2px;
    color:#2a2f47;

  }

  li{
    color:#2a2f47;
  }

  #about{
    display:none;
  }

  #homeImageMobile{
    display:none;
  }

  .headbanner{
    margin:0 auto;
    position: absolute;;
    padding:0;
    width:100%;
  }

  .fourImages{
    width:50%;
  }

  .aboutContainer{
    position:absolute;
  }

  #aboutUsImage{
    position: relative;
    width:60%;
    margin:0 auto;
    right:5%;
    left:5%;
  }

  ul{
    padding-top:0;
    font-size:40px;
    text-align: center;
    list-style:none;
  }
  
  #projectNameVideo{
    text-align:center;
    color: #2a2f47;
  }

  #projectVideo{
    width:600px;
    height:400px;
    margin:0 auto;
  }

  #projectVideoTitle{
    text-align:center;
    color: #2a2f47;
  }

  #logo{
    width:40%;
    position: absolute;
    margin:0 auto;
  
  }

  


}
 
@media all and (min-width: 480px) and (max-width: 768px) { 
  img{

  }

  #logo{
    width:30%;
    margin:0 auto;
  }

  #homeTextMobile{
    position: absolute;
    right:0;
    height:auto;
    font-size: 50px;
    margin-bottom:10%;
    letter-spacing:2px;
    background:#2a2f47;
    width:100%;
    color: #f3b7ba;


  }

  ul{
    margin-bottom:10%;
    /* text-align: center; */
    /* margin-top:5%; */
    padding-top:5%;
  }

  li{
    list-style-type: none;
    font-size:40px;
    text-align: center;

  }

  /* This is for the projects component */
  .Projects{
  }

}
 
@media only screen
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

  img{
    width:100%;
    height:100;
  }

  body{
    
  }

  #projectVideoTitle{
    padding-top:0px;
    color:#2a2f47;
    text-align: center;
  }

  #projectNameVideo{
    font-size: 40px;
    position: relative;
    margin:0 auto;
    text-align: center;
    padding-top: 5%;
    padding-bottom:.8%;
    letter-spacing: .3rem;
    color:#2a2f47;
    z-index:-5;
  }

  #aboutUsImage{
    width:85%;
    margin:0 auto;
    margin-left:5%;
    margin-top:5%;
  }

  #projectVideo{
    width:100%;
  }

  #logo{
    width:75%;
    position: absolute;;
    left:25%;
    bottom:0%;
    z-index:0;
    opacity:.4;
    display:none;
  }
  
  /* This is for the UL class*/
  .projects{
    padding-left:0px;
    margin-bottom:5%;
    /* font-size:200px; */
  }

  .title{
    
  }

  ul{
    margin-bottom:10%;
    /* text-align: center; */
  }

  li{
    list-style-type: none;
    /* margin-bottom:.3%; */
    /* margin-top:.3%;
    margin-top:5%; */

    font-size:20px;
  }

  /* li:hover{
    font-size:25px;
  } */

  a{
    font-size: 2em;
    letter-spacing: .07em;
    font-weight: 100;
    margin:0;
    padding-top:0px;
    text-decoration: none;
    height:50px;
    width:50px;
    
  }

  #about{
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    height:105px;
    width:10%;
    writing-mode: vertical-rl;
    display:none;
  }

  #attic{
    position: absolute;
    top:0;
    /* right:0; */
    height:auto;
    margin-left: 5%;
    font-size: 50px;
    margin-bottom:10%;
    letter-spacing:2px;
    /* background:#2a2f47; */
    width:100%;
    /* color: #f3b7ba; */
    color:#2a2f47;
    left:15%;

  }

  /* .title:active{
    background-color:black;
    position: relative;
    color:white;
  } */

  #aboutContainer{
    margin-left:24.9px;
    margin-right:24.9px;
  }

  .aboutUsWords{
    margin-left:20px;
    margin-right:20px;
  }

  #aboutUs{
    /* text-align: center;
    margin:0;
    margin-bottom:10px; */
    display:none;
  }

  .year{
    /* display:none; */
  }

  .image{
    /* display: none; */
  }

  .banner{
    padding-right: 20%;
    padding-left:20%;
  }

  .headbanner{
    /* padding-bottom:10%; */
  }

  #projectDescription{
    color:#2a2f47;
    margin:0 auto;
    text-align:center !important;

  }

  .aboutContainer{
    
  }

  #mobileStyle{
    /* background: rgb(42,47,71); */
    /* background: linear-gradient(90deg, rgba(42,47,71,1) 0%, rgba(243,183,186,1) 100%);  */
  }

  #homeImageMobile{
    width:20%;
  }

  #twitIcon{
    width:27%;
    padding-right:2%;
  }

  #mailText{
    color:#2a2f47;
  }

  #mailIcon{
    width:32%;
    bottom:1.3%;
    position:absolute;
    height:20%;
    right:40px;
  }

  #instaIcon{
    width:25%;
  }

  .comingSoonLogo{
    display: inline-block !important;
    top:10%;
    left:-40% !important;
    position:absolute;
    width:680px !important;
  }

  #comingSoonPage{
    width:100% !important;
    height:100% !important;
    position: absolute;
  }

  #socialIcons{
    margin-left:11.1% !important;
  }
  #comingSoonText{
    width:40%;
    font-size:4.5em;
    color:#2a2f47;
    position: relative;
    padding-top:90%;
    padding-left:10%;
  }

}

